{{#> default }}

{{!-- todo: {{#placeholder name='content' --}}
  {{#*inline 'content'}}
    <img src="images/launchpad.png" alt="lp logo">

    <h2>Icons...</h2>
    {{component name='social-icons-svg' socialLinks=social.socialLinks }}

    <h2>Component Data Handling</h2>
    <h3>A component</h3>
    {{component name='test'}}
    <h2>A nested component</h2>
    {{component name='nested' title='Also works nested'}}

    <h3>A Box with Component</h3>
    {{#component name='box'}}
      {{component name='test'}}
    {{/component}}

    <h3>A Box with Content</h3>
    {{#component name='box'}}
      <p>I am inlined content</p>
    {{/component}}

    <h2>JavaScript</h2>
    <button id="button">Manually Load Async Module</button>
    <p data-module="Highlight">An auto-loaded async module highlighted this!</p>

    <h2>Video</h2>
    <video autoplay="" loop="" muted="" style="width: 80%;">
      <source src="videos/camera.mp4" type="video/mp4">
    </video>
    <p>video by <a href="http://www.beachfrontbroll.com">beachfrontbroll</a></p>
  {{/inline}}

  {{#*inline 'scripts'}}
    <script src="/javascripts/app.js"></script>
  {{/inline}}


{{/default}}
