{% extends 'templates/layouts/default.njk' %}

{% block content %}
  <img src="images/launchpad.png" alt="lp logo">

  <h2>Icons...</h2>
  {% component 'social-icons-svg', social %}

  <h2>Component Data Handling</h2>
  {% component 'test', exampleComponentData %}

  <h2>JavaScript</h2>
  <button id="button">Manually Load Async Module</button>
  <p data-module="Highlight">An auto-loaded async module highlighted this!</p>

  <h2>Custom Nunjucks Filters</h2>
  <p>Random Number (1-999): {{ 1000 | lprandom }}</p>

  <h2>Video</h2>
  <video autoplay="" loop="" muted="" style="width: 80%;">
    <source src="videos/camera.mp4" type="video/mp4">
  </video>
  <p>video by <a href="http://www.beachfrontbroll.com">beachfrontbroll</a></p>
{% endblock %}

{% block javascript %}
<script src="javascripts/app.js"></script>
{% endblock %}
