{% extends 'templates/layouts/default.njk' %}

{% block content %}
  <p>I am page 2, and have different javascript.</p>
{% endblock %}

{% block javascript %}
  <script src="javascripts/main.js"></script>
{% endblock %}
