{{#> default }}
  {{#*inline 'content'}}
    <p>I am page 2, and have different javascript.</p>
  {{/inline}}

  {{#*inline 'scripts'}}
    <script src="/javascripts/main.js"></script>
  {{/inline}}

{{/default}}
