{%- macro sprite(id, viewBox = '0 0 500 500', title = '', classes = '') %}
  {#- Please note: the prefix "svgicon-" should be the same as in the svgSprite-Task-config #}
  {%- set svgSpritePrefix = 'svgicon-' %}
  <span class="sprite sprite--{{ id }}{% if classes %} {{ classes }}{% endif %}">
    <svg viewBox="{{ viewBox }}"{% if title %} title="{{ title }}"{% endif %}><use xlink:href="#{{ svgSpritePrefix }}{{ id }}" /></svg>
  </span>
{%- endmacro %}

