{% macro simpleNav(currentPage) %}
<nav class="simple-nav">
 <a class="simple-nav__link {% if currentPage.isIndex %} simple-nav__link--current{% endif %}" href="index.html">Home</a> |
 <a class="simple-nav__link {% if currentPage.isPage %} simple-nav__link--current{% endif %}" href="page.html">Another page</a>
</nav>
{% endmacro %}
