<nav class="simple-nav">
 <a class="simple-nav__link {{# if currentPage.isIndex }} simple-nav__link--current{{/if}}" href="/index.handlebars.html">Home</a> |
 <a class="simple-nav__link {{# if currentPage.isPage }} simple-nav__link--current{{/if}}" href="/page.handlebars.html">Another page</a>
<!--<a class="simple-nav__link {{# if currentPage.isDir }} simple-nav__link--current{{/if}}" href="/dir/index.handlebars.html">A subdirectory</a>-->
</nav>
