@include font-face(FiraSans, '../fonts/FiraSans-Regular');
@include font-face(FiraSans, '../fonts/FiraSans-Medium', bold);

:root,
html {
  font-size: 62.5%; // 10px based
  font-size: calc(50% + 0.5vw); // adaptive font-size for modern browsers
}

body {
  @include font-smoothing;
  @include typo('default');
  padding: size('page-bezel');
  text-align: center;
}

small {
  @include typo('meta');
  margin-top: size('text-stack');
}

code {
  @include typo('code');
  background-color: var(--color-layout-block);
  border-radius: size('border-radius');
  display: inline-block;
  padding: size('card-bezel') size('card-bezel--x');
}

a {
  color: var(--color-interaction-default);
  opacity: 1;
  text-decoration: none;
  // autoprefixer will prefix this for you!
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

.screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.highlight {
  background-color: var(--color-layout-highlight);
  color: var(--color-text-inverted);
}

.sprite {
  display: inline-block;
  fill: currentColor;
  margin: size('icon-inline');
  width: size('icon');

  &--instagram {
    fill: var(--color-social-instagram);
  }

  &--facebook {
    fill: var(--color-social-facebook);
  }

  &--twitter {
    fill: var(--color-social-twitter);
  }

  // 2 Dynamic colors + hard coded colors!
  &--viget {
    color: var(--color-brand-main);
    fill: var(--color-brand-alt);
    width: 180px;
    // Viget text color hard coded in svg fill attribute
  }
}
