//   ___   ____  __   _   __    _
//  | | \ | |_  ( (` | | / /`_ | |\ |
//  |_|_/ |_|__ _)_) |_| \_\_/ |_| \|
//   __   _     __  _____  ____  _
//  ( (` \ \_/ ( (`  | |  | |_  | |\/|
//  _)_)  |_|  _)_)  |_|  |_|__ |_|  |
//-----------------------------------------------------------------------------\
//
// Everything related to the design-system must happen in this file.
// All design rules and settings are set within the /design/ folder and are
// meant to be maintained only in those .json files to guarantee that there is
// a single source of truth regarding all the design rules.
//
// The API between code and visual design is called "design-taxonomy".
// Taxonomy is the practice and science of classification of things or concepts,
// including the principles that underlie such classification.
// We create a common language that is understood by the project team.

// The design system consists of 4 components: breakpoints, colors, sizes and
// typography. They all come with helper functions and/or mixins.

// breakpoints:
// .someselector {
//      display: inline;
//      @include bp(mobile) {
//          display: block;
//      }
// }

// colors:
// .someselector {
//      color: var(--color-text-default)
//      background-color: var(--color-text--background);
//      border: 1px solid var(--color-text--line);
// }

// sizes:
// .someselector {
//     margin-top: size(grid);
// }

// typography:
// .someselector {
//      @include typo(title);
//      // includes all properties needed for this element
//      // including breakpoints
// }

// JSON files are imported using:
// https://github.com/Updater/node-sass-json-importer


//  ___   ___   ____   __    _     ___   ___   _   _     _____  __
// | |_) | |_) | |_   / /\  | |_/ | |_) / / \ | | | |\ |  | |  ( (`
// |_|_) |_| \ |_|__ /_/--\ |_| \ |_|   \_\_/ |_| |_| \|  |_|  _)_)
//-----------------------------------------------------------------------------\
// setting up basic breakpoints for the project

// import breakpoints from the taxonomy
@import '../../design/breakpoints.json5';

// setting up basic breakpoint mixin
@mixin bp($name) {
  @if map-has-key($dialog-breakpoints, $name) {
    @media (#{map-get($dialog-breakpoints, $name)}) {
      @content;
    }
  } @else {
    @error 'there is no breakpoint called #{$name}';
  }
}

// usage:
// @bp(mobile) {
//   whatever is different on mobile
// }

//  __    ___   _     ___   ___   __
// / /`  / / \ | |   / / \ | |_) ( (`
// \_\_, \_\_/ |_|__ \_\_/ |_| \ _)_)
//-----------------------------------------------------------------------------\
@import '../design/colors';


//  __   _  ____  ____  __
// ( (` | |  / / | |_  ( (`
// _)_) |_| /_/_ |_|__ _)_)
//-----------------------------------------------------------------------------\
// check https://github.com/meodai/dialog-size for more information about
// the library

// import all sizes from the taxonomy
@import '../../design/sizes.json5';

// import the actual library
// @import 'dialog-size/dist/dialog-size';
@import '../../node_modules/dialog-size/dist/dialog-size';

// populate the SCSS map for the sizes() function
$dialog-sizes: toDialogSizeList($sizes);

// see ../../design/sizes.json for reference
// usage: size('huge');

// _____  _     ___   ___   __    ___    __    ___   _     _
//  | |  \ \_/ | |_) / / \ / /`_ | |_)  / /\  | |_) | |_| \ \_/
//  |_|   |_|  |_|   \_\_/ \_\_/ |_| \ /_/--\ |_|   |_| |  |_|
//-----------------------------------------------------------------------------\
// check https://github.com/meodai/dialog-typography for more information about
// the library

// import typography from the design-taxonomy
@import '../../design/typography.json5';
//@import 'dialog-typography/dist/dialog-typography';
@import '../../node_modules/dialog-typography/dist/dialog-typography';

// usage: @include typo('title');
