{% import "components/page-nav/page-nav.njk" as pageNav %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% else %}VIU Launchpad{% endif %}</title>
  <link rel="stylesheet" href="stylesheets/global.css">

  {% block head %}{% endblock %}
</head>
<body>
<h1>Launchpad</h1>
{{ pageNav.simpleNav(currentPage) }}
{% block content %}{% endblock %}
<footer>
  <p>
    Made by <a href="https://www.viu.ch">VIU</a><br>
    Based on GulpStarter by <a href="http://viget.com">Viget</a>
  </p>
</footer>
{% block javascript %}{% endblock %}
</body>
</html>
