<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{#if title}}
    {{title}}
  {{else}}
    VIU Launchpad
  {{/if}}</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  {{component name='app-icons' }}

  {{#> head}}
  {{!-- Custom <head> content per page could be added. --}}
  {{/head}}
</head>
<body>
<h1>Launchpad</h1>
{{component name='page-nav' currentPage=currentPage }}
{{#> content}}
  {{!-- content goes here. --}}
  {{placeholder name='content'}}
  {{!-- todo: placeholder --}}
{{/content}}
<footer>
  <p>
    Made by <a href="https://www.viu.ch">VIU</a><br>
    Based on GulpStarter by <a href="http://viget.com">Viget</a>
  </p>
</footer>
{{#> scripts}}
{{!-- Custom scripts per page can be added. --}}
{{/scripts}}
</body>
</html>
