{% from 'templates/macros/helpers.html' import sprite %}
<p class="social-icons">
  SVG sprites:
  {% for item in socialLinks %}
    <a href="{{ item.url }}">
      {{ sprite(item.id) }}
    </a>
  {% endfor %}
</p>
