<p class="social-icons">
  SVG sprites:
  {{#each socialLinks as | item | }}
    <a href="{{ item.url }}">
       <span class="sprite sprite--{{ item.id }}">
        <svg viewBox="0 0 500 500"{{# if title }} title="{{ title }}"{{/if}}><use xlink:href="#svgicon-{{ id }}" /></svg>
      </span>
    </a>
  {{/each}}
</p>
