// Colors
//
// In order to not access colors directly but to abstract
// their use with a semantic layer, we define palettes
// of colors. Colors are accessed using var(--color-paletteName-colorName)
// e.g. var(--color-brand-main)

:root,
:host {
  --color-brand-main: #f23000;
  --color-brand-alt: #1496bb;
  --color-text-default: #555;
  --color-text-inverted: #fff;
  --color-interaction-default: #092f40;
  --color-social-facebook: #3b5998;
  --color-social-twitter: #4099ff;
  --color-social-instagram: #555;
  --color-layout-line: #d3d3d3;
  --color-layout-block: #d3d3d3;
  --color-layout-highlight: #1496bb;
}
